extends ../extend/default

block variables
	-title = 'Наши преподаватели';
	-dataPage = 'teachers';
	-contactMap = true;
	-headerBotClass = '_has-bg';
	-headerBotBg = 'background-image: url(static/img/bg/header-bot_bg.jpg)';

block main
	main.content

		//begin teachers
		+b.SECTION.teachers._tabs
			+e.top-container.container
				+title('__section-title', 'Наши преподаватели', 'Our teachers')

				.c-tabs
					.c-tabs__nav.nav-links.nav-links_tabs
						-activeIndex = 0;
						-
							navList = [
							'Преподаватели англиского языка',
							'Преподаватели немецкого языка',
							'Преподаватели испанского языка',
							'Преподаватели японского языка',
							'Преподаватели китайского языка',
							'Преподаватели итальянского языка',
							'Преподаватели французского языка',
							'Преподаватели по подготовке к школе']

						ul
							for navText, index in navList
								li.c-tabs__btn(class= index === activeIndex ? 'is-active' : ''): a(href='#!')
									span= navText
					.c-tabs__for
						-n = 0
						while n < 8
							.c-tabs__tab
								.c-tabs__tab-inner
									-
										teachersList = [{
										img: 1,
										popupId: 1,
										name: 'Ксения Иванова',
										text: 'Искренне люблю свою профессию за возможность постоянно совершенствоваться в ней, за удовольствие общения с учениками за отсутствие монотонности Иду по жизни с фразой "Just do it", любимой музыкой и интересной книгой'
										}, {
										img: 2,
										popupId: 2,
										name: 'Ксения Иванова',
										text: 'Искренне люблю свою профессию за возможность постоянно совершенствоваться в ней, за удовольствие общения с учениками за отсутствие монотонности Иду по жизни с фразой "Just do it"'
										}, {
										img: 3,
										popupId: 3,
										name: 'Ксения Иванова',
										text: 'Искренне люблю свою профессию за возможность постоянно совершенствоваться в ней, за удовольствие общения с учениками за отсутствие монотонности Иду по жизни с фразой "Just do it", любимой музыкой и'
										}, {
										img: 1,
										popupId: 4,
										name: 'Ксения Иванова',
										text: 'Искренне люблю свою профессию за возможность постоянно совершенствоваться в ней, за удовольствие общения с учениками за отсутствие монотонности Иду по жизни с фразой "Just do it", любимой музыкой и интересной книгой'
										}, {
										img: 2,
										popupId: 5,
										name: 'Ксения Иванова',
										text: 'Искренне люблю свою профессию за возможность постоянно совершенствоваться в ней, за удовольствие общения с учениками за отсутствие монотонности Иду по жизни с фразой "Just do it"'
										}, {
										img: 3,
										popupId: 6,
										name: 'Ксения Иванова',
										text: 'Искренне люблю свою профессию за возможность постоянно совершенствоваться в ней, за удовольствие общения с учениками за отсутствие монотонности Иду по жизни с фразой "Just do it", любимой музыкой и'
										}]

									mixin teachersItem(item)
										+e.item
											+e.item-img
												+e.IMG(src=`static/img/content/teacher-item-${item.img}.jpg` alt='image')
												+e.item-title
													h4= item.name
											+e.item-content
												+e.item-text
													.
														<svg class='teachers__item-icon teachers__item-icon_top' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27" height="23" viewBox="0 0 27 23"><defs><path id="d6iaa" d="M442.59 1223.56a15.87 15.87 0 0 0-1.59 6.8c0 2.28.52 4.13 1.57 5.53a4.88 4.88 0 0 0 4.1 2.1c1.38 0 2.56-.51 3.54-1.55a5.35 5.35 0 0 0 1.46-3.8 4.97 4.97 0 0 0-5.25-5.13 6.6 6.6 0 0 0-2.03.4c.2-2 .87-4.03 2.03-6.1.79-1.41 1.71-2.55 2.77-3.43 1.06-.88 2.52-1.7 4.38-2.46l-.42-.92c-2.4.5-4.53 1.5-6.4 3.03a15.81 15.81 0 0 0-4.16 5.53zm14.43 0a15.87 15.87 0 0 0-1.59 6.8c0 2.28.52 4.13 1.57 5.53a4.88 4.88 0 0 0 4.1 2.1c1.39 0 2.56-.51 3.54-1.55a5.35 5.35 0 0 0 1.46-3.8 4.97 4.97 0 0 0-5.25-5.13 6.6 6.6 0 0 0-2.03.4c.2-2 .89-4.03 2.07-6.1a11.5 11.5 0 0 1 2.73-3.43c1.06-.88 2.52-1.7 4.38-2.46l-.38-.92c-2.43.5-4.56 1.5-6.39 3.03a15.57 15.57 0 0 0-4.21 5.53z"/></defs><g><g transform="translate(-441 -1215)"><use fill="#fcd400" xlink:href="#d6iaa"/></g></g></svg>
													p= item.text
													.
														<svg class='teachers__item-icon teachers__item-icon_bot' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27" height="23" viewBox="0 0 27 23"><defs><path id="d6iaa" d="M442.59 1223.56a15.87 15.87 0 0 0-1.59 6.8c0 2.28.52 4.13 1.57 5.53a4.88 4.88 0 0 0 4.1 2.1c1.38 0 2.56-.51 3.54-1.55a5.35 5.35 0 0 0 1.46-3.8 4.97 4.97 0 0 0-5.25-5.13 6.6 6.6 0 0 0-2.03.4c.2-2 .87-4.03 2.03-6.1.79-1.41 1.71-2.55 2.77-3.43 1.06-.88 2.52-1.7 4.38-2.46l-.42-.92c-2.4.5-4.53 1.5-6.4 3.03a15.81 15.81 0 0 0-4.16 5.53zm14.43 0a15.87 15.87 0 0 0-1.59 6.8c0 2.28.52 4.13 1.57 5.53a4.88 4.88 0 0 0 4.1 2.1c1.39 0 2.56-.51 3.54-1.55a5.35 5.35 0 0 0 1.46-3.8 4.97 4.97 0 0 0-5.25-5.13 6.6 6.6 0 0 0-2.03.4c.2-2 .89-4.03 2.07-6.1a11.5 11.5 0 0 1 2.73-3.43c1.06-.88 2.52-1.7 4.38-2.46l-.38-.92c-2.43.5-4.56 1.5-6.39 3.03a15.57 15.57 0 0 0-4.21 5.53z"/></defs><g><g transform="translate(-441 -1215)"><use fill="#fcd400" xlink:href="#d6iaa"/></g></g></svg>
												+e.A.item-btn.btn._yellow(data-fancybox='teachers' data-src=`#teachers-modal-${item.popupId}` href="javascript:;") Подробнее о преподавателе

											+e.modal(id=`teachers-modal-${item.popupId}`)
												+e.modal-inner
													+e.modal-top
														+e.modal-img
															+e.IMG(src=`static/img/content/teacher-item-${item.img}.jpg` alt='image')
														+e.modal-text
															+e.modal-title
																h4 Ксения Иванова
															p Товарищи! рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании форм развития. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании систем массового участия.
															p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
													+e.modal-bot
														p Повседневная практика показывает, что новая модель организационной деятельности играет важную роль в формировании форм развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также сложившаяся структура организации способствует подготовки и реализации модели развития.
														p Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют от нас анализа новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности играет важную роль в формировании новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения форм развития. Равным образом постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт реализация намеченных плановых заданий играет важную роль в формировании модели развития.

									each item in teachersList
										+teachersItem(item)

								-n++

		//begin cost-contact
		+b.SECTION.cost-contact._contacts(style='background-image: url(static/img/bg/cost-contact_bg.jpg)')
			+e.container.container
				+e.inner
					+b.section-title.cost-contact__section-title
						+e.top
							h2 Узнайте стоимость обучения прямо сейчас и получите Сертификат на скидку
						+e.back
							h2 Cost of education

					+e.form-wrap
						+cost-form('_map', 'Узнать стоимость', 'Телефон')
		//end cost-contact